package main

import (
	"github.com/NeptuneG/go-back/gen/go/services/${SERVICE_UNDERSCORE_NAME}/proto"
	grpcServer "github.com/NeptuneG/go-back/pkg/grpc"
	"github.com/NeptuneG/go-back/services/${SERVICE_UNDERSCORE_NAME}/server"
	"google.golang.org/grpc"
)

const (
	port = 3377
)

func main() {
	server := server.New()
	defer server.Close()

	gprcSrv := grpcServer.New(port, func(srv *grpc.Server) {
		proto.Register${SERVICE_PASCALCASE_NAME}ServiceServer(srv, server)
	})

	gprcSrv.Start()
}
